:root {
    --blue: rgb(26, 144, 212);
    --dark-gray: rgb(137, 139, 158);
    --gray: rgb(223, 232, 243);
    --gold: rgb(235, 185, 22);
    font-size: 10px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

hr {
    border-top: var(--gray);
    width: 90%;
    margin: 10px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.7em;
    margin: 20px 0 5px 0;
}

h2 {
    font-weight: bold;
    padding-top: 15px;
    padding-left: 5px;
}

h2+p {
    padding-left: 5px;
    color: var(--dark-gray);
    font-size: 1.2em;
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

body {
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 130px 1fr;
    min-height: 100vh;
}

.card {
    background-color: white;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 0px var(--dark-gray);
}

header {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    box-shadow: 1px 1px 5px 0px var(--dark-gray);
}

#header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
}

#header-top div {
    height: 25px;
}

#top-search {
    display: flex;
    margin-left: 15px;
}

#top-search img {
    margin-right: 15px;
}

#top-search input{
    width: 80%;
    border-radius: 50px;
    border: none;
    background-color: var(--gray);
    padding: 2px;
}

#top-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#top-links a, #top-links img {
    margin-right: 20px;
}

#top-links a {
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}

#header-bottom {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottom-btns button {
    width: 80px;
    padding: 8px;
    margin-right: 15px;
    color: white;
    background-color: var(--blue);
    border-radius: 50px;
    border: none;
}

#bottom-welcome {
    display: flex;
    align-items: center;
}

#welcome-text {
    font-weight: bold;
    margin-left: 10px;
}

#bottom-welcome img {
    width: 50px;
    height: 50px;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--blue);
    color: white;
}

#sidebar-header {
    margin: 15px;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

#sidebar-header h1 {
    margin: 0;
}

#sidebar-header img {
    height: 35px;
    margin-right: 5px;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar ul li {
    display: flex;
    align-content: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
}

#sidebar ul li a {
    color: white;
    margin-left: 20px;
}

#sidebar ul li a:hover {
    text-shadow: 1px 1px white;
}

#sidebar ul li:nth-child(6) {
    margin-bottom: 40px;
}

#main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#project h1 {
    padding-left: 15px;
}

#project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
    margin: 15px;
    margin-top: 0px;
}

#project-cards > div {
    height: 170px;
    border-left: var(--gold) 5px solid;
}

#project-cards > div > p {
    height: 80px;
}

#main-content > #project {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
}

.project-icons img {
    margin-right: 10px;
}

#announcement {
    grid-column: 2 / 3;
    margin-right: 15px;
    margin-bottom: 0px;
}

#announcement-cards {
    padding: 10px;
}

#announcement-cards p {
    font-size: 1em;
}

#announcement-cards h2, #trending-cards h2 {
    font-size: 1.3em;
    margin-bottom: 3px;
}

#trending {
    grid-column: 2 / 3;
    margin-right: 15px;
}

#trending h2 {
    padding: 0;
}

#trending-cards div {
    display: flex;
    margin: 7px;
}

#trending-cards div div {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}